<div style="width:100%; height: 100vh; background-color: lightgrey;">
  <mat-card style="width: 52%;margin: 0% 24%;">
    
  <h1 style="text-align: center; font-size: xx-large; font-weight: 900;">Forgot Password</h1>
      <section class="row">
  
          <section class="col-md-6" style="
          height: 500px;
          margin-top: 90px;
          padding: 20px 90px;
          text-align: center;
          
      ">
  
              <img src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTiFQwj5OmGeSApdEiGAK9PLy0AVGLklmTD_A&usqp=CAU" />
              <br>
              <h1 style = "
              font-weight: 900;
              font-size: xxx-large;
              height: 154px;
              line-height: 52px;
          ">
          Dal Student Handbook</h1>
              <!-- Left side -->
  
          </section>
  
          <section class="col-md-6">

              <mat-vertical-stepper [linear]="isLinear" #stepper>
  
                <mat-step [stepControl]="EmailFormGroup">
                    <form [formGroup]="EmailFormGroup">
                        
                            <ng-template matStepLabel>Email Address</ng-template>
                            <mat-form-field>
                                <mat-label>Email Address</mat-label>
                                <input matInput placeholder="emailAddress@dal.ca" formControlName="Email" required>
                            </mat-form-field>
  
                            <div>
                                <button mat-button matStepperPrevious>Back</button>
                                <button mat-button matStepperNext>Next</button>
                            </div>
                    </form>
                    </mat-step>
                  
                <mat-step [stepControl]="SecurityQFormGroup">
                  <form [formGroup]="SecurityQFormGroup">
                      
                          <ng-template matStepLabel>Security Questions</ng-template>
                          <mat-form-field>
                              <mat-label>Your Best-Friend's Name</mat-label>
                              <input matInput placeholder="Best Friend Name" formControlName="firstCtrl" required>
                          </mat-form-field>


                          
                          <mat-form-field>
                              <mat-label>Pet's Name</mat-label>
                              <input matInput formControlName="secondCtrl" placeholder="Name of your first pet" required>
                          </mat-form-field>

                          <div>
                              <button mat-button matStepperPrevious>Back</button>
                              <button mat-button matStepperNext>Next</button>
                          </div>
                  </form>
                  </mat-step>


                  <mat-step [stepControl]="ProfileFormGroup">
                      <form [formGroup]="ProfileFormGroup">
  
                          <mat-form-field>
                              <mat-label>Password</mat-label>
                              <input matInput [(ngModel)]="Password" formControlName="Password" type="Password"
                                  placeholder="Password">
                              <mat-error *ngIf="ProfileFormGroup?.controls['Password']?.errors?.required">Password is required
                              </mat-error>
                              <mat-error *ngIf="ProfileFormGroup?.controls['Password']?.errors?.minlength">Password must be
                                  atleast 8 charaters</mat-error>
                          </mat-form-field>
  
  
                          <mat-form-field>
                              <mat-label>Confirm Password</mat-label>
                              <input matInput [(ngModel)]="ConfirmPassword" formControlName="ConfirmPassword"
                                  type="Password" placeholder="Confirm Password">
                              <mat-error *ngIf="ProfileFormGroup?.controls['ConfirmPassword']?.errors?.required">Please
                                  re-enter password</mat-error>
                              <mat-error *ngIf="ProfileFormGroup?.controls['ConfirmPassword']?.errors?.mismatch">Password must
                                  match</mat-error>
                          </mat-form-field>
  
  
                          <div>
                              <button mat-button matStepperNext>Next</button>
                          </div>
                      </form>
                  </mat-step>
  
  
  
                      <mat-step>
                          <ng-template matStepLabel>Done</ng-template>
                          <p>You are now done.</p>
                          <div>
                              <button mat-button matStepperPrevious>Back</button>
                              <button mat-button (click)="gotoSignin()">Sign-In</button>
                          </div>
                      </mat-step>
                  </mat-vertical-stepper>
              
  
  
  
          </section>
  
      </section>

  
  </mat-card>
  </div>