<h2 class="menu">Menu</h2>

<section class="menu-section">
  <button mat-button class="menu-item" routerLink="announcement">Announcement</button>
</section>

<section class="menu-section">
  <button mat-button class="menu-item" routerLink="notes">Notes</button>
</section>

<section class="menu-section">
  <button mat-button class="menu-item" routerLink="scheduler">Scheduler</button>
</section>

<section class="menu-section">
  <button mat-button class="menu-item" routerLink="peermentorship">Peer Mentorship</button>
</section>

<section class="menu-section">
  <button mat-button class="menu-item" routerLink="rate-it">Rate your Mentor</button>
</section>

<section class="menu-section">
  <button mat-button class="menu-item" routerLink="mentorchat">Student Wall</button>
</section>

<section class="menu-section">
<button mat-button class="menu-item" routerLink="feedback">Application Feedback</button>
</section>

<section class="menu-section">
  <button mat-button class="menu-item" routerLink="contactus">Contact Us</button>
</section>

