.mat-list-item-content {
  padding:10px;
}

.sideNavItemComponent{
  vertical-align: middle;
  margin-right: 15px;
}

.pinSidenav{
  cursor:pointer;
  margin-left: 220px;
  height: 100%;
}

#sidenav.menu-close{
  width: 70px;
}

#sidenav.menu-open{
  width: 240px;
}

.mat-expansion-panel{
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  box-shadow: 0px 0px 0px 0px;
}

.mat-nav-list a{
  color: #002b5c;
}

.mat-icon{
  color: #002b5c;
}

.innerNav{
  padding-top: 10px;
  padding-bottom: 10px;
}

.mat-expansion-panel-body{
  padding-bottom: 10px !important;
}

.mat-expansion-panel-header-title{
  color: #00008B !important;
}

mat-nav-list{
  height: 100%;
}

.pinSidenavBtn{
  height: 5%;
}

.section-accordion{
  
  height: 48px;
  padding: 0 24px;
  display: table-cell;
  vertical-align: middle;
  cursor: pointer;
  width: 260px;

}

.section-accordion:hover{
  background-color: #f5f5f5;

}