.example-container .mat-form-field + .mat-form-field {
    margin-left: 50px;
  }
  
  .example-right-align {
    text-align: right;
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.example-right-align {
    -moz-appearance: textfield;
  }

  
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
.add-container{
    width: 90%;
    margin: auto;
    border: 1px;
}

.form-field{
  width: 100%;
}

.mat-form-field {
  padding:1px;
  width: 100% !important;
}

.mat-toolbar-single-row {
  height: auto !important;
  background: transparent;
}

.mat-toolbar-single-row button {
  width: 200px;
}

.FeedbackHeader{
  text-align: center;
  color: brown;
}