.example-spacer {
    flex: 1 1 auto;
  }
  
.header-color{
background-color:#002b5c;
 color:whitesmoke;
 padding:50px;
  }

  .profile-icon{    
    background-color: white;
    float: right;
    }

.profile-icon:hover{
    background-color: #F5EDFF;
}