
<header class="header row">
    <img src="../../../assets/images/dal_logo.png" alt="dal-logo" style="height: 110%;"/>
    <div class="col-md-8" style="border-left: 2px solid;
    padding-left: 8px; padding-top: 5px;">
        <h1>
            Student Handbook
        </h1>
    </div>
<div class="col-md-4" style="float: right;">
    <button mat-mini-fab class="profile-icon" [matMenuTriggerFor]="ProfileMenu">
        <mat-icon style="color: #002b5c;">perm_identity</mat-icon>
      </button>
    <!-- <mat-icon class="profile-icon" [matMenuTriggerFor]="ProfileMenu" aria-hidden="false" aria-label="Example home icon">perm_identity</mat-icon> -->
    <mat-menu #ProfileMenu="matMenu">
        <button mat-menu-item>Profile</button>
        <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>

</div>
</header>