<h1 mat-dialog-title>Requester's Details</h1>
<div mat-dialog-content>
  <p>
  <mat-form-field appearance="outline">
    <mat-label>Requester's Name</mat-label>
    <input matInput value="John Doe" disabled>
  </mat-form-field>
  </p>
  <p>
  <mat-form-field appearance="outline">
    <mat-label>Requester's Email Address</mat-label>
    <input matInput value="jdoe@dal.ca" disabled>
  </mat-form-field>
  </p>
  <p>
  <mat-form-field appearance="outline">
    <mat-label>Request Type</mat-label>
    <input matInput value="Role Change" disabled>
  </mat-form-field>
  </p>
  <p>
  <mat-form-field appearance="outline">
    <mat-label>Request Date</mat-label>
    <input matInput value="2021-06-06 15:00:00" disabled>
  </mat-form-field>
  </p>
  <p>
  <mat-form-field appearance="outline">
    <mat-label>Faculty</mat-label>
    <input matInput value="Computer Science" disabled>
  </mat-form-field>
  </p>
  <p>
  <mat-form-field appearance="outline">
    <mat-label>Program</mat-label>
    <input matInput value="MACS" disabled>
  </mat-form-field>
  </p>
  <p>
  <mat-form-field appearance="outline">
    <mat-label>Program Start Date</mat-label>
    <input matInput value="Winter 2021" disabled>
  </mat-form-field>
  </p>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Accept</button>
  <button mat-button mat-dialog-close>Reject</button>
</div>
