<h1 mat-dialog-title>
  {{util.modalTitle}}
  <mat-icon (click)="close()" style="float:right;cursor:pointer;">close</mat-icon>
</h1>
<div mat-dialog-content>
  <p>
  <mat-form-field appearance="outline">
    <mat-label>Member's Name</mat-label>
    <input matInput [(ngModel)]="data.name" disabled>
  </mat-form-field>
  </p>
  <p>
  <mat-form-field appearance="outline">
    <mat-label>Member's Email Address</mat-label>
    <input matInput [(ngModel)]="data.email" disabled>
  </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Type</mat-label>
      <mat-select [(ngModel)]="selected" #role [disabled]="data.mode == 'V' ? true: false" (ngModelChange)="enableConfirm(role.value)">
        <mat-option [value]="role" *ngFor="let role of roles">{{ role }}</mat-option>
      </mat-select>
    </mat-form-field>
  </p>
  <p>
  <mat-form-field appearance="outline">
    <mat-label>Faculty</mat-label>
    <input matInput [(ngModel)]="data.faculty" disabled>
  </mat-form-field>
  </p>
  <p>
  <mat-form-field appearance="outline">
    <mat-label>Program</mat-label>
    <input matInput [(ngModel)]="data.program" disabled>
  </mat-form-field>
  </p>
  <p>
  <mat-form-field appearance="outline">
    <mat-label>Program Start Date</mat-label>
    <input matInput [(ngModel)]="data.programStartDate" disabled>
  </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Program End Date</mat-label>
      <input matInput [(ngModel)]="data.programEndDate" disabled>
    </mat-form-field>
  </p>
</div>
<div mat-dialog-actions *ngIf="data.mode == 'V'">
  <button mat-button mat-dialog-close *ngIf="data.requestStatus==='Pending'" (click)="accepted=true; close();">Accept</button>
  <button mat-button mat-dialog-close *ngIf="data.requestStatus==='Pending'" (click)="accepted=false; close();">Reject</button>
</div>
<div mat-dialog-actions *ngIf="data.mode == 'C'">
  <button mat-button mat-dialog-close *ngIf="data.requestStatus==='Pending'" (click)="confirmed=true; close();" [disabled]="!enableConfirmBtn">Confirm</button>
</div>
