<div style="width:100%; height: 100%; background-color: #DCDCDC; padding-top: 1%;">
    <mat-card style="width: 85%;margin: auto; padding: 0px; height: 97%;">

        <section class="row" style="height: 92%;">
    
                    <section class="col-md-4 col-xs-4" style="
            margin-top: 5%;
            padding: 0% 3% 0 6%;
            text-align: center;
                    height: 100%;
                ">
                    <h1 style="line-height: 55px; margin-bottom: 20%;
                    border-bottom: 3px solid; text-align: center; font-size: 285%; font-weight: 900;">Sign-Up</h1>

                        <img style="height: 30%;" src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTiFQwj5OmGeSApdEiGAK9PLy0AVGLklmTD_A&usqp=CAU" />
                        <br>
                        <h1 style = "
                        font-weight: 900;
                        font-size: 285%;
                        height: 30%;
                        line-height: 52px;
                    ">
                    Dal Student Handbook</h1>
                        <!-- Left side -->
            
                    </section>
    
            <section class="col-md-8 col-xs-8">
    
                <!-- Right Side -->
    
        <!--        <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
                    {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
                </button> -->
                <mat-vertical-stepper [linear]="isLinear" #stepper>
                    <mat-step [stepControl]="ProfileFormGroup">
                        <form [formGroup]="ProfileFormGroup">
    
                            <ng-template matStepLabel>Profile details</ng-template>
                            <mat-form-field style="margin-right: 15px;">
                                <mat-label>First Name</mat-label>
                                <input matInput [(ngModel)]="FirstName" formControlName="FirstName" placeholder="First Name"
                                    type="text">
                                <mat-error *ngIf="ProfileFormGroup?.controls['FirstName'].errors?.required">First Name is
                                    required </mat-error>
                                <mat-error *ngIf="ProfileFormGroup?.controls['FirstName'].errors?.pattern">First Name should
                                    be Alpha-numeric </mat-error>
                            </mat-form-field>
    
    
                            <mat-form-field>
                                <mat-label>Last Name</mat-label>
                                <input matInput [(ngModel)]="LastName" formControlName="LastName" placeholder="Last Name"
                                    type="text">
                                <mat-error *ngIf="ProfileFormGroup?.controls['LastName']?.errors?.required">Last Name is
                                    required</mat-error>
                                <mat-error *ngIf="ProfileFormGroup?.controls['LastName']?.errors?.pattern">Last Name should be
                                    Alpha-numeric</mat-error>
                            </mat-form-field>
    
    
                            <mat-form-field>
                                <mat-label>Email Address</mat-label>
                                <input matInput [(ngModel)]="Email" formControlName="Email" placeholder="Email"
                                    type="email">
                                <mat-error *ngIf="ProfileFormGroup?.controls['Email']?.errors?.required">Email is required
                                </mat-error>
                                <mat-error *ngIf="ProfileFormGroup?.controls['Email']?.errors?.pattern">Please Enter valid
                                    Email
                                </mat-error>
                            </mat-form-field>
    
                            <br>

                            <mat-form-field style="margin-right: 15px;">
                                <mat-label>Password</mat-label>
                                <input matInput [(ngModel)]="Password" formControlName="Password" type="Password"
                                    placeholder="Password">
                                <mat-error *ngIf="ProfileFormGroup?.controls['Password']?.errors?.required">Password is required
                                </mat-error>
                                <mat-error *ngIf="ProfileFormGroup?.controls['Password']?.errors?.minlength">Password must be
                                    atleast 8 charaters</mat-error>
                            </mat-form-field>
    
    
                            <mat-form-field>
                                <mat-label>Confirm Password</mat-label>
                                <input matInput [(ngModel)]="ConfirmPassword" formControlName="ConfirmPassword"
                                    type="Password" placeholder="Confirm Password">
                                <mat-error *ngIf="ProfileFormGroup?.controls['ConfirmPassword']?.errors?.required">Please
                                    re-enter password</mat-error>
                                <mat-error *ngIf="ProfileFormGroup?.controls['ConfirmPassword']?.errors?.mismatch">Password must
                                    match</mat-error>
                            </mat-form-field>
    
    
                            <div>
                                <button mat-button matStepperNext>Next</button>
                            </div>
                        </form>
                    </mat-step>
    
    
                    <mat-step [stepControl]="SecurityQFormGroup">
                        <form [formGroup]="SecurityQFormGroup">
                            
                                <ng-template matStepLabel>Security Questions</ng-template>
                                <mat-form-field style="margin-right: 15px;">
                                    <mat-label>Your Best-Friend's Name</mat-label>
                                    <input matInput [(ngModel)]="firstCtrl" placeholder="Best Friend Name" formControlName="firstCtrl" required>
                                    <mat-error *ngIf="SecurityQFormGroup?.controls['firstCtrl']?.errors?.required">Please
                                        enter security question 1</mat-error>
    
                                </mat-form-field>
    
    
                                
                                <mat-form-field>
                                    <mat-label>Pet's Name</mat-label>
                                    <input matInput [(ngModel)]="secondCtrl" formControlName="secondCtrl" placeholder="Name of your first pet" required>
                                    <mat-error *ngIf="SecurityQFormGroup?.controls['secondCtrl']?.errors?.required">Please
                                        enter security question 2</mat-error>
    
                                </mat-form-field>
    
                                <div>
                                    <button mat-button matStepperPrevious>Back</button>
                                    <button mat-button matStepperNext>Next</button>
                                </div>
                        </form>
                        </mat-step>
    
                        <mat-step>
                            <ng-template matStepLabel>Done</ng-template>
                            <p>You are now done.</p>
                            <div>
                                <button mat-button matStepperPrevious>Back</button>
                                <button mat-button (click)="Signup()">Sign-Up</button>
                            </div>
                        </mat-step>
                    </mat-vertical-stepper>
                
    
    
    
            </section>
    
        </section>
    
        <div class="division">
            <mat-label>Already registered? &nbsp;</mat-label>
            <span class="link" style="color: blue; text-decoration: underline; cursor: pointer;" mat-label
            [routerLink]="'/signin'">
                Sign-In
            </span>
        </div>
    
    </mat-card>
    </div>