.example-container{
  display: flex;
  flex-flow: row wrap;
}

.example-card {
  /* height: 25vh; */
    width: 85vw;
    margin: 0px 50px 15px 50px;
    cursor: pointer;
  }

  mat-card-title{
    color:green;
    font-size:40px
    }

    .link{
      font-size: small;
    }

    .addAnnButton{
      margin-right: 40px;
      float:right;
    }

    .addAnnButtonDiv{
    width:100%;
     height:70px; 
     margin:0px;
    }

    .cardDiv{
      margin:0px;
      padding: 0px;
    }

    .example-spacer {
      flex: 1 1 auto;
    }

    .line-clamp{
        display: -webkit-box;
        -webkit-line-clamp: 2;
        overflow: hidden;
        -webkit-box-orient: vertical;  
    }

    .limitTextHeight {
      height: 40px;
      overflow: hidden;
  }