<div class="example-container">
  
<div class="addAnnButtonDiv">
<button mat-raised-button class="addAnnButton" color="primary" (click)="onOpenAnnouncement(-1)">
    <mat-icon>add</mat-icon>
    <span>Add Announcement</span>
</button> 
</div>

<div class="cardDiv">
<mat-card class="example-card" *ngFor="let announcement of announcementService.allAnnouncements; let i=index">
    <mat-card-header>
      <mat-icon mat-card-avatar>account_circle</mat-icon>
      <mat-card-title>{{announcement?.title}}</mat-card-title>
      <mat-card-subtitle>
        <span>Posted By </span>{{announcement?.createdByName}}<span> on </span>{{announcement?.createdOn | date:"MM/dd/yyyy 'at' h:mma"}}
      </mat-card-subtitle>

      <span class="example-spacer" ></span>
      <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="userdataservice.isAdmin || (userdataservice.loggedInUser.data._id == announcement.createdById)" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="onOpenAnnouncement(i)">
          <mat-icon>edit</mat-icon>
          <span>Edit</span>
        </button>
        <button mat-menu-item (click)="announcementService.deleteAnnouncement(announcement._id); $event.stopPropagation();">
          <mat-icon>delete</mat-icon>
          <span>Delete</span>
        </button>
      </mat-menu>
    </mat-card-header>
    <mat-card-content>
      <p [ngClass]="{'limitTextHeight': !announcement.isReadMore}">{{announcement?.description}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <!-- <a (click)="showText(announcement._id); $event.stopPropagation();">{{ isReadMore ? 'See More': 'See Less' }}</a> -->
      <a (click)="announcement.isReadMore = !announcement.isReadMore">{{ !announcement.isReadMore ? 'See More': 'See Less'}}</a>
    </mat-card-actions>
  </mat-card>

</div>
  </div>