<div class="parentDiv">
<form>
  <div>
    <form [formGroup]="disableAccountForm" class="disableAccount">
      <mat-form-field appearance="outline" style="top: 5px !important; bottom: -5px !important;">
        <mat-label> Email </mat-label>
        <input matInput formControlName="email" #email (focus)="success = false;">
        <mat-error *ngIf="disableAccountForm.controls['email'].errors">{{validate()}}</mat-error>
      </mat-form-field>
      <button mat-raised-button [disabled]="(!disableAccountForm.valid || (disableAccountForm.controls['email'].value.length == 0))" (click)="search(email.value); isSubmitted=true; disableAccountForm.valid ? openDialog() : null;">Search</button>
    </form>
  </div>
</form>
</div>
<div class="childDiv">
<div class="heading">
  <h2 style="padding: 5px 0;">Modified Accounts</h2>
</div>
<div>
  <table mat-table [dataSource]="dataSource" matSort class="tableStyling">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef><h4 class="tableHeader"> Name </h4></th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header><h4 class="tableHeader"> Email Address </h4></th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>
    <ng-container matColumnDef="requestStatus">
      <th mat-header-cell *matHeaderCellDef mat-sort-header><h4 class="tableHeader"> Status </h4></th>
      <td mat-cell *matCellDef="let element"> {{element.requestStatus}} </td>
    </ng-container>
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header><h4 class="tableHeader"> Modification Date </h4></th>
      <td mat-cell *matCellDef="let element"> {{element.accessModificationDate}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

<mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
</div>
</div>
