<section class="search-section">
  <button mat-raised-button color="primary" style="margin: 15px 30px;" (click)="createGroup()">Create Group</button>
    <mat-form-field class="search-mat-form-field">
        <mat-label id="search-label">Search</mat-label>
        <mat-icon matPrefix class="serach-icon">search</mat-icon>
        <input matInput placeholder="Search Group Name" [(ngModel)]="searchKeyword" class="input-search">
        <button *ngIf="searchKeyword" matSuffix mat-icon-button (click)="searchKeyword=''">
            <mat-icon>close</mat-icon>
          </button>
      </mat-form-field>
</section>
<section>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 group-table">

        <ng-container matColumnDef="groupName">
          <th mat-header-cell *matHeaderCellDef > Group Name </th>
          <td mat-cell *matCellDef="let element" class="groupName-link" (click)="openGroupDetail(element)"> {{element.groupName}} </td>
        </ng-container>
            
        <ng-container matColumnDef="faculty">
          <th mat-header-cell *matHeaderCellDef> Stream </th>
          <td mat-cell *matCellDef="let element"> {{element.faculty}} </td>
        </ng-container>
      
        <ng-container matColumnDef="location">
            <th mat-header-cell *matHeaderCellDef> Location </th>
            <td mat-cell *matCellDef="let element"> {{element.location}} </td>
          </ng-container>

          <!-- <ng-container matColumnDef="mentor">
            <th mat-header-cell *matHeaderCellDef> Mentor </th>
            <td mat-cell *matCellDef="let element"> {{element.mentor}} </td>
          </ng-container> -->

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
</section>
<section>
    <mat-paginator [pageSize]="4" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</section>      

