<h2>Group Form</h2>
<div style="border-bottom: 1px solid black;     height: 33%;" *ngIf="groupData">
    <table class="full-width" cellspacing="0">
        <tr>
            <td>
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Group Name</mat-label>
                    <input matInput [(ngModel)]="groupData.groupName">
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Location</mat-label>
                    <mat-select matNativeControl [(ngModel)]="groupData.location">
                        <mat-option value="Halifax">Halifax</mat-option>
                        <mat-option value="Truro">Truro</mat-option>
                    </mat-select>
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td>
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Faculty</mat-label>
                    <mat-select matNativeControl [(ngModel)]="groupData.faculty">
                        <mat-option value="Faculty of Computer Science">Faculty of Computer Science</mat-option>
                        <mat-option value="Faculty of Management">Faculty of Management</mat-option>
                    </mat-select>
                </mat-form-field>
            </td>
            <td></td>
        </tr>
    </table>
</div>

<div style="height: 13%">
    <div>
        <table class="full-width" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Criteria</mat-label>
                        <mat-select [(ngModel)]="criteria">
                            <mat-option value="faculty">Faculty</mat-option>
                            <mat-option value="location">Location</mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
                <td>
                    <button mat-raised-button color="primary" style="margin: 15px 30px;"
                        (click)="search()">Search</button>
                </td>
            </tr>
        </table>
    </div>
</div>
<div style="height: 33%; overflow: auto; min-height: 100px;" *ngIf="menteeList">
    <table style="width: 100%;">
        <thead>
            <tr>
                <th style="width: 5%;"></th>
                <th>Name</th>
                <th>Program</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let mentee of menteeList">
                <td>
                    <mat-checkbox color="primary" class="example-margin" (change)="updateMentee($event.checked, mentee._id)"  [(ngModel)]="mentee.checked" [checked]="mentee.checked">
                    </mat-checkbox>
                </td>
                <td>{{mentee.name}}</td>
                <td>{{mentee.program}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div style="height: 33%; overflow: auto; min-height: 100px;" *ngIf="!menteeList">
    No Records 
</div>
<div style="height: 9%">
    <button mat-raised-button color="primary"  mat-dialog-close style="margin: 15px 0px;" (click)="save(); ">Save</button>
    <button mat-raised-button color="warn"  mat-dialog-close style="margin: 15px 30px;" (click)="delete(); " *ngIf="data.isEdit">Delete</button>
</div>