
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
    <b>Questions about Registration</b>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <p>

    <b>Question</b> : Are there any special requirements for Registration ?<br>
    <b>Answer</b>: No, there are no special requirements except being a student at Dalhousie. <br>
    <br>
    <b>Question</b> : Do any email work for registration ? <br>
    <b>Answer</b> : Only Dal emails work for registration.<br>
    <br>
    <b>Question </b>: What data is collected when I register ?<br>
    <b>Answer</b> : The email, name and password are the only required data for registration.<br>
    <br>

  </p>
</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
    <b>Questions about Signing in </b>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <p>

    <b>Question</b> : How do I sign in with gmail account ?<br>
    <b>Answer</b>: No, you cannot sign in with gmail account. You need a dal email. <br>
    <br>
    <b>Question</b> : Where can I reset my password ?<br>
    <b>Answer</b> : You can use the forgot password for resetting password. <br>
    <br>
    <b>Question </b>: Is there any other way of signing in except dal email ?<br>
    <b>Answer</b> : No. <br>
    <br>
    </p>
</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <b>Questions about the program </b>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <p>

    <b>Question</b> : What is the aim of the program ?<br>
    <b>Answer</b>: The main aim of the program is to help the students coming to Dalhousie for education in all ways possible.<br>
    <br>
    <b>Question</b> : Who are the mentors ?<br>
    <b>Answer</b> : The students who joined the program, have been in the program for a while, and want to help future students are the part of this. <br>
    <br>
    <b>Question </b>: What are my benefits ?<br>
    <b>Answer</b> : The students who are part of this program get a mentor, a place to meet new people and get help.<br>
    <br>
    </p>
</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <b>Questions about the mentors</b>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <p>

    <b>Question</b> : Are the mentors helpful ?<br>
    <b>Answer</b>: The mentors help the students in any way possible. <br>
    <br>
    <b>Question</b> : What are the mentors here for ? <br>
    <b>Answer</b> : The mentors help the upcoming students with the problems they faced when they came here and be there for academic help too.<br>
    <br>
    <b>Question </b>: How can I become a mentor<br>
    <b>Answer</b> : You need to join the program and be affiliated with it for few months. Then you can become a mentor.<br>
    <br>
    </p>
</mat-expansion-panel>

