
<h2 class="FeedbackHeader">Welcome to this page! You can provide rating and feedback for the application here..</h2>
<div class="add-container">
<form [formGroup]="websiteFeedbackForm" (submit)="onSubmit()">

  <mat-form-field class="form-field">
    <mat-label>How often do you use this application?</mat-label>
    <mat-select name="UsageFrequency" formControlName="UsageFrequency" placeholder="Select your usage frequency">
      <mat-option *ngFor="let usageFreq of usageFreqs" [value]="usageFreq.viewValue">
        {{usageFreq.viewValue}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="websiteFeedbackForm?.controls['UsageFrequency']?.errors?.required">Please choose a mentor</mat-error>
  </mat-form-field>

  <mat-form-field class="form-field">
    <mat-label>How much rating would you provide to this application</mat-label>
    <mat-select name="Rating" formControlName="Rating" placeholder="Rating">
      <mat-option *ngFor="let rating of ratings" [value]="rating.viewValue">
        {{rating.viewValue}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="websiteFeedbackForm?.controls['Rating']?.errors?.required">Please choose a rating</mat-error>
  </mat-form-field>

  <mat-form-field class="form-field">
      <mat-label>How would you describe your experience of using this application?</mat-label>
      <textarea matInput #feedback formControlName="Feedback" placeholder="Feedback" type="text" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="5" cdkAutosizeMaxRows="8"></textarea>
      <mat-hint align="end">{{feedback.value.length}}</mat-hint>
      <mat-error *ngIf="websiteFeedbackForm?.controls['Feedback']?.errors?.required">Feedback is required</mat-error>
    <mat-error *ngIf="websiteFeedbackForm?.controls['Feedback']?.errors?.pattern">Feedback should be Alpha-numeric</mat-error>
  </mat-form-field>
<br>
  <button mat-raised-button type="submit" [disabled]="!websiteFeedbackForm?.valid" color="primary" (click)="openSnackBarForFeedback()">Submit</button>
</form>
</div>

