
mat-icon{
    color: #00008B;
  }

  .dvSideNav{
      height: 100%;
  }

  .side-nav-container{
      height: 100%;
  }

  .dvSideNavIcon{
    width: 6%;
    max-width: 6%;
    min-width: 55px;
  }

  .icon-section{
      min-height: 48px;
      height: 45px;
      padding-left: 24px;
  }

  
