<app-header #header></app-header>

<div class="row" style="margin: 0; height: 90%; display: flex;">
        <mat-drawer-container class="side-nav-container" hasBackdrop="false" style="width: 100%;">
            <mat-drawer class="side-nav-drawer" [ngStyle]="{'width.em':utilityservice.sidenavWidth}" #sideNav mode="side" [opened]="true">
                <app-nav></app-nav>
            </mat-drawer>
            <!--   -->
            <mat-drawer-content class="main-content" [ngStyle]="{'margin-left':utilityservice.sidenavMargin + '%'}">
                <section #contentHeader style="display: flex; background-color: #DCDCDC; color: #00008B; height: 8%; padding: 5px 20px;">

                    <h2 class="content-header">{{utilityservice.sectionTitle}}</h2>
                </section>
                <section style="
                height: 92%;
                overflow: auto;
                background-color: #c3d2ca;
            ">
                    <router-outlet></router-outlet>
                </section>

            </mat-drawer-content>
        </mat-drawer-container>
</div>