<app-header #header></app-header>

<div class="row" style="margin: 0; height: 90%; display: flex;">
    <!-- *ngIf = "!utilityservice.opened"  -->
    <div class="dvSideNav dvSideNavIcon" *ngIf = "!utilityservice.opened" (mouseenter)="sideNav.toggle(); utilityservice.open()">
        <section style="height: 9%;"></section>
        <section class="icon-section" style="height: 45px; padding-left: 25px;" >
            <mat-icon class="sideNavItemComponent">announcement</mat-icon>
        </section>
        <section class="icon-section">
            <mat-icon class="sideNavItemComponent">feed</mat-icon>
        </section>
        <section class="icon-section">
            <mat-icon class="sideNavItemComponent">edit_calendar</mat-icon>
        </section>
        <section class="icon-section">
            <mat-icon class="sideNavItemComponent">notes</mat-icon>
        </section>
        <section class="icon-section">
            <mat-icon class="sideNavItemComponent">groups</mat-icon>
        </section>
        <section class="icon-section">
            <mat-icon class="sideNavItemComponent">accessibility</mat-icon>
        </section>
        <section class="icon-section">
            <mat-icon class="sideNavItemComponent">contact_support</mat-icon>
        </section>
        <section class="icon-section">
            <mat-icon class="sideNavItemComponent">edit_note</mat-icon>
        </section>


    </div>
    <div class="dvSideNav" style="padding: 0;">
        <mat-drawer-container class="side-nav-container" hasBackdrop="false">
            <mat-drawer class="side-nav-drawer" #sideNav mode="side" [opened]="utilityservice.opened">
                <app-nav></app-nav>
            </mat-drawer>
            <mat-drawer-content class="main-content">
                <section #contentHeader style="display: flex; background-color: #2da7a2; color: white; height: 8vh;">
                    <button mat-icon-button class="side-nav-button" >
                        <mat-icon>menu</mat-icon>
                    </button>

                    <h2 class="content-header">{{utilityservice.sectionTitle}}</h2>
                </section>
                <section style="
                height: 70vh;
                overflow: auto;
                background-color: aliceblue;
            ">
                    <router-outlet></router-outlet>
                </section>

            </mat-drawer-content>
        </mat-drawer-container>
    </div>
</div>