
<div class ="card-cont">

  <mat-card class = "card-main">
    <b font-size = "large">Albert Addo <br> </b>
    <b>Faculty:</b> Engineering  <br>
<b>Program and year of study:</b> Chemical Engineering, PhD (3rd year) <br>

<b>Hometown/Home country:</b> Ghana <br>

<b>Known Languages: </b>English, Akan <br>
    </mat-card>

    <mat-card class = "card-main">
      <b>Emma Mensah </b><br>

      Faculty of Computer Science <br> 

      2nd year Computer Science <br> 

      <b>Hometown/Home country:</b> Ghana/Ukraine <br>

      <b>Known Languages: </b> English, Russian <br> 

      <b>Interests:</b> Painting, music, dance <br>
    </mat-card>

    <mat-card class = "card-main">
     <b> Gayani Gamage </b><br>

     <b>Faculty: </b> Microbiology & Immunology <br> 

     <b>Program and year of study:</b> Ph.D. in Immunology <br> 

     <b>Hometown/Home country:</b>Badulla, Sri Lanka <br>

     <b>Known Languages: </b>English and Sinhalese (native language) <br> 

     <b>Interests:</b>Hiking, camping, horror movies, and anime 😄 <br>
    </mat-card>

    <mat-card class = "card-main">
     <b> Jamieson Urquhart </b><br>
     <b>Faculty: </b> Arts and Social Sciences <br>  

     <b>Program and year of study:</b> 2nd year of a Double Major in History/Sustainability with a Minor in Economics <br>

     <b>Hometown/Home country:</b>Sofia, Bulgaria   <br>

     <b>Known Languages: </b>English, and I try my best at Spanish, Portuguese, and Bulgarian <br>  

     <b>Interests:</b>Guitar, sports, and history  <br>
    </mat-card>

    <mat-card class = "card-main">
      <b>Jovana Kornicer</b> <br>
      <b>Faculty: </b>Science <br>

      <b>Program and year of study:</b>Marine Biology, third year <br>  

      <b>Hometown/Home country:</b>US/Serbia <br>

      <b>Known Languages: </b>English, Serbian  <br>

      <b>Interests:</b> Swimming, hiking, being by the ocean/beach, drawing, taekwondo <br> 
    </mat-card>

</div>
