<!--
 * Author: Misbah Pathan 
 * Email id: ms358232@dal.ca
-->
<div style="height: 70px;">
    <button mat-raised-button color="primary" style="margin: 15px 30px; float: right;" [routerLink]="'/main/profile'" >Back to Profile</button>    
</div>

<mat-vertical-stepper #stepper [linear]="isLinear" #stepper style="
width: 44%;
margin: auto;
">

    <mat-step [stepControl]="EmailFormGroup">
        <form [formGroup]="EmailFormGroup">

            <ng-template matStepLabel>Confirm Credentials</ng-template>
            <mat-form-field>
                <mat-label>Email Address</mat-label>
                <input matInput placeholder="emailAddress@dal.ca" formControlName="Email">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput type="password" placeholder="Password" formControlName="Password">
            </mat-form-field>

            <div>
                <button mat-button (click)="validateCreds(stepper)">Next</button>
            </div>
        </form>
    </mat-step>

    <mat-step [stepControl]="SecurityQFormGroup">
        <form [formGroup]="SecurityQFormGroup">

            <ng-template matStepLabel>Security Questions</ng-template>
            <mat-form-field>
                <mat-label>Your Best-Friend's Name</mat-label>
                <input matInput placeholder="Best Friend Name" formControlName="firstCtrl" required>
            </mat-form-field>



            <mat-form-field>
                <mat-label>Pet's Name</mat-label>
                <input matInput formControlName="secondCtrl" placeholder="Name of your first pet" required>
            </mat-form-field>

            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="validateSecretQuestion(stepper)">Next</button>
            </div>
        </form>
    </mat-step>


    <mat-step [stepControl]="ProfileFormGroup">
        <form [formGroup]="ProfileFormGroup">
            <ng-template matStepLabel>New Password</ng-template>

            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput formControlName="Password" type="Password"
                    placeholder="Password">
                <mat-error *ngIf="ProfileFormGroup?.controls['Password']?.errors?.required">Password is required
                </mat-error>
                <mat-error *ngIf="ProfileFormGroup?.controls['Password']?.errors?.minlength">Password must be
                    atleast 8 charaters</mat-error>
            </mat-form-field>


            <mat-form-field>
                <mat-label>Confirm Password</mat-label>
                <input matInput formControlName="ConfirmPassword" type="Password"
                    placeholder="Confirm Password">
                <mat-error *ngIf="ProfileFormGroup?.controls['ConfirmPassword']?.errors?.required">Please
                    re-enter password</mat-error>
                <mat-error *ngIf="ProfileFormGroup?.controls['ConfirmPassword']?.errors?.mismatch">Password must
                    match</mat-error>
            </mat-form-field>


            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext (click)="save()">Save</button>
            </div>
        </form>
    </mat-step>
</mat-vertical-stepper>