.example-container .mat-form-field + .mat-form-field {
    margin-left: 50px;
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
.add-container{
    width: 95%;
    height: 500px;
    margin: auto;
    padding: 15px;
    background-color: white;
}

.form-field{
  width: 100%;
}

.mat-form-field {
  padding:1px;
  width: 100% !important;
  /* color: navy; */
}

.mat-toolbar-single-row {
  height: auto !important;
  background: transparent;
}

.mat-toolbar-single-row button {
  width: 200px;
}

.annDetailsHeader{
  text-align: center;
  color: brown;
}

.content-textarea{
  height: 29vh;
  max-height: 29vh;
}