<h2 class="annDetailsHeader">Add Announcement Details</h2>
  <div class="add-container">
  <form [formGroup]="addAnnouncementForm" (submit)="onSubmit()">

    <mat-form-field class="form-field">
      <mat-label>Title</mat-label>
      <input matInput formControlName="Title" placeholder="Title" type="text">
      <mat-error *ngIf="addAnnouncementForm?.controls['Title']?.errors?.required">Title is required </mat-error>
      <mat-error *ngIf="addAnnouncementForm?.controls['Title']?.errors?.maxlength">Title should be maximum 20 characters </mat-error>
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>Category</mat-label>
      <mat-select name="Category" formControlName="Category" placeholder="Category">
        <mat-option *ngFor="let category of categories" [value]="category.viewValue">
          {{category.viewValue}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="addAnnouncementForm?.controls['Category']?.errors?.required">Please choose a category</mat-error>
    </mat-form-field>

    <mat-form-field class="form-field">
        <mat-label>Description</mat-label>
        <textarea matInput #message formControlName="Description" placeholder="Description" type="text" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="5" cdkAutosizeMaxRows="8"></textarea>
        <mat-hint align="end">{{message.value.length}} characters</mat-hint>
        <mat-error *ngIf="addAnnouncementForm?.controls['Description']?.errors?.required">Description is required</mat-error>
    </mat-form-field>

    <button mat-raised-button type="submit" [disabled]="!addAnnouncementForm?.valid" color="primary" (click)="openSnackBar()">Submit changes</button>
  </form>
</div>
