/* 
 * Author: Mansi Singh 
 * Email id: mn518448@dal.ca
*/
  
.announcementContainer{
    width: 95%;
    height: 500px;
    margin: auto;
    padding: 15px;
    background-color: white;
}

.form-field{
  width: 100%;
}

.mat-form-field {
  padding:1px;
  width: 100% !important;
  /* color: navy; */
}

.example-container .mat-form-field + .mat-form-field {
  margin-left: 50px;
}

.description-textarea{
  height: 29vh;
  max-height: 29vh;
}

.backToAnnouncements{
  margin: 0px;
}